<div id="buildQueue" class="container-fluid pane-frame track-mouse expanded">
    <div class="row">
        <div class="col-xs-24 pane-header"><a href="http://localhost:8080/toggleCollapse?paneId=buildQueue" title="collapse" class="collapse"><img src="master_design_files/collapse.png" alt="collapse" style="width: 16px; height: 16px; " class="icon-collapse icon-sm"></a>Build Queue</div></div>
    <div class="row pane-content"><table class="pane "><tbody>

    <!-- Queue -->
            <tr><td class="pane" colspan="2">No builds in the queue.</td></tr>
    <!-- END Queue -->

</tbody></table></div></div>

<script defer="defer">refreshPart('buildQueue',"/view/kekekeke/ajaxBuildQueue");</script>


