<footer><div class="container-fluid"><div class="row"><div class="col-md-6" id="footer"><div id="l10n-footer" style="display: block; float: left;"><a href="#" onclick="return showTranslationDialog();"><img src="master_design_files/flags.png">
      Help us localize this page
    </a></div></div><div class="col-md-18"><span class="page_generated">Page generated: 30-Jan-2016 13:20:51 CET</span><span class="rest_api"><a href="http://localhost:8080/view/kekekeke/api/">REST API</a></span><span class="jenkins_ver"><a href="http://jenkins-ci.org/">Jenkins ver. 1.646</a></span><div id="l10n-dialog" class="dialog"></div><script>var footer = document.getElementById('l10n-footer');
    var f = document.getElementById('footer');
    f.insertBefore(footer,f.firstChild);
    footer.style.display="block";

    var translation={}; 
    translation.bundles = "RI9I2b65ODAJO00dtVZBzAYUGknAAym5kDHiAQTjXFiWMzLSFqaMh6qe+BJPBZm6O7raEDk/1De6L5Yjvu2PMEQxjRdhmAyaTsORcWpvmOOkOBuiW1Nv2oqaPTCfSVphsTq/rNDNl/GMPHK8sBdYKENj17EXck3Kj5zgae++T70KVQo78vt55kxIXSqKZ5B9LrIheCKE96EZHQfWCbCyOD4uFLLYOKCyTy9HCJreK3fft9/tUN9vrYq19UVWFarKkENxJjPFjoTmavCp8pYjBcszkCJuWwR8pQMzUVkPYjz+FNatlRTXrnMZEIAdU1LA53kOtS44GJ5YmoB1pAs9oR/5wR5ZByYO7wUAMKEJQOgukP2Eo+yOrVwSsrT3fN1FZZ2HZJzMQ1IpX+zxefmiJPjCogfzc2xAKMy79fgXrTHOlgASP10fP/MtL0oFjd/P+aZ+ZMkmLCQYfS3wc/UBvRsF6CSt5vQ5rm0ElHTfJr63B9FK9CGvZgppYVmiV3F9XYfYG7cTjsSerAtua9Wcot7gsxmafLr0x76Afn19XDdOXeg4dVxJpUTVtR24P4z4vVH3KrWP3ttRp1ykogXqbapL9vqnc5UW6MUVZ6XCcuJciVZ81y8Iu6eBMuj50UxlGsUpgAVPunUdZUW+0XFbC1laMYMK7rlBC03hyZjZdcTZfi7G+2ZuIBMXnYAQQbW0iA7YDdWuFW+uOIVMD4X+0WSH24pYs6DM1+BrS+yA3XUqJwHvUN2ncvjusYTHjna7LyYV+e3s45rE1Yn69K7ItTa3bZ5sMFdWc/Q1JnrEtiC1vPSq9Ghj82Y9ag6VboOBQ73Z9aL70EFH74Tkyppmzg==";
    translation.detectedLocale = "en_gb";

    function showTranslationDialog() {
      if(!translation.launchDialog)
        loadScript("/static/dbb65505/plugin/translation/dialog.js");
      else
        translation.launchDialog();
      return false; 
    }</script></div></div></div></footer>
